import(msgps)
import(ggplot2)
import(reshape)
import(corrplot)
import(graph)
import(lme4)
#############
importClassesFrom(methods, list)
importFrom("stats", "var")
importFrom(car, scatterplot)
importFrom(graphics, barplot, boxplot, close.screen, legend, par)
importFrom(grDevices, dev.off, png)
importFrom(methods, is, new, slot, slotNames)
importFrom(nlme, ranef, varIdent, gls, lme)
importFrom("utils", "lsf.str")
importFrom(nortest, cvm.test)
importFrom("graphics", "abline", "axis", "lines", "text")
importFrom("stats", "AIC", "BIC")
importFrom(stats, anova, as.formula, fisher.test, model.frame,
        model.matrix, na.omit, predict, qqline, qqnorm, relevel,
        resid, sd)
importFrom(logistf, logistf, logistftest)
importFrom(MASS, boxcox)
importFrom("graphics", "points", "stripchart")
importFrom("stats", "binomial", "logLik", "p.adjust", "pchisq", "qchisq", "quantile", "setNames", "vcov")
importFrom("utils", "head")
importFrom("stats", "runif")
importFrom("utils", "download.file", "packageVersion", "read.table", "tail")

#  All functions exported other than those starting with "."
#exportPattern("^[^\\.]")

#exportClasses("PhenList","PhenTestResult")
export(
  analysedDataset       ,
  checkDataset          ,
  PhenList              ,
  summaryOutput         ,
  testDataset           ,
  PhenStatReport        ,
  analysisResults       ,
  vectorOutput          ,
  summaryOutput         ,
  qqplotGenotype        ,
  boxplotSexGenotype    ,
  recommendMethod       ,
  plot.PhenList         ,
  plot.PhenTestResult   ,
  summary.PhenTestResult,
  columnChecks
)

S3method(plot, PhenList)
S3method(plot, PhenTestResult)
S3method(summary, PhenTestResult)
