/* Whole document: */
/* body, td{
  font-family: Tahoma;
  font-size: 90%;
}
h0,h1,h2,h3,h4,h5,h6{
  font-size: 90%;
}

code.r{
  font-size: 90%;
}
pre {
  font-size:90%;
}
*/

* {
	word-wrap: break-word;
}

body, td{
  font-family: Tahoma;
  font-size: 90%;
}