import(nlme)
import(MASS)
import(methods)
import(Hmisc)
import(jsonlite)
import(PhenStat)
import(knitr)
import(AICcmodavg)
import(rlist)

importFrom("graphics", "abline", "hist", "par", "plot")
importFrom("stats", "AIC", "aggregate", "as.formula", "complete.cases",
					 "density", "fisher.test", "formula", "poisson", "predict",
					 "qqnorm", "resid", "sd", "terms", "xtabs")
importFrom("stats", "na.omit", "reformulate", "update")
importFrom("utils", "combn", "head")
importFrom("methods", "setClass")
#importFrom("PhenStat","columnChecks","testGenotype","refGenotype")
importFrom("Hmisc","describe")
importFrom("methods", "is")
importFrom("methods", "formalArgs")
importFrom("nlme", "lme","gls","getData","lmeControl","glsControl")
importFrom("stats", "qqline")
importFrom("stats", "coef", "dist", "glm.control", "quantile", "runif",
               "setNames", "shapiro.test", "update.formula", "var")
importFrom("stats", "delete.response", "terms.formula")
importFrom("MASS", "stepAIC","addterm")
importFrom("stats", "deviance", "extractAIC", "factor.scope", "nobs")
importFrom("stats", "drop.scope","model.matrix")
importFrom("stats", "pchisq")
importFrom("graphics", "mosaicplot")
importFrom("car"     , "qqPlot", "densityPlot")


S3method(summary   , PhenListAgeing)
S3method(summary   , PhenStatAgeingMM)
S3method(summary   , PhenStatAgeingRR)
S3method(summary   , PhenStatAgeingFE)
S3method(summary   , NULL)

S3method(plot      , PhenListAgeing)
S3method(plot      , PhenStatAgeingMM)
S3method(plot      , PhenStatAgeingRR)
S3method(plot      , PhenStatAgeingFE)
S3method(plot      , NULL)





#exportPattern("^[^\\.]")
export(
	PhenListAgeing     ,
	testDatasetAgeing  ,
	vectorOutputAgeing
)

