import(nlme)
import(MASS)
import(methods)
import(Hmisc)
import(jsonlite)
import(PhenStat)

importFrom("graphics", "abline", "hist", "par", "plot")
importFrom("stats", "AIC", "aggregate", "as.formula", "complete.cases",
					 "density", "fisher.test", "formula", "poisson", "predict",
					 "qqnorm", "resid", "sd", "terms", "xtabs")
importFrom("stats", "na.omit", "reformulate", "update")
importFrom("utils", "combn")
importFrom("methods", "setClass")
#importFrom("PhenStat","columnChecks","testGenotype","refGenotype")
importFrom("Hmisc","describe")
importFrom("methods", "is")
importFrom("methods", "formalArgs")
importFrom("nlme", "lme","gls","getData","lmeControl","glsControl")
importFrom("stats", "qqline")
importFrom("stats", "coef", "dist", "glm.control", "quantile", "runif",
               "setNames", "shapiro.test", "update.formula", "var")
importFrom("stats", "delete.response", "terms.formula")
importFrom("MASS", "stepAIC")
importFrom("stats", "deviance", "extractAIC", "factor.scope", "nobs")
importFrom("stats", "drop.scope")
importFrom("stats", "pchisq")

S3method(summary, PhenListAgeing)
S3method(plot   , PhenListAgeing)





#exportPattern("^[^\\.]")
export(
	PhenListAgeing     ,
	testDatasetAgeing  ,
	vectorOutputAgeing
)

